/* * {
 margin: 0;
 padding: 0;

}
body{
    margin: 1rem; 
    padding: 1rem ;
} */

div {
  width: 80%;
  margin: 5rem 2rem;
  display: inline-block;
}
.cards {
  width: 100%;
  margin: 1rem;
  text-align: left;
  display: flex;
  justify-content: center;
}

.card1 {
  width: 40%;
}
.card2 {
  width: 40%;
}
h1 {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
  border-bottom: 4px solid rgb(212, 153, 44);
}

p {
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li {
  padding-top: 10px;
}
input {
  margin: 10px 0;
  padding: 7px;
  width: 13rem;
}
.msg {
  padding: 0 50px 50px 0;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  font-size: 20px;
  background-color: #52554b;
  color: rgb(212, 153, 44);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  padding: 30px 30px;
  margin-bottom: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #52554b;
}
span {
  color: rgb(212, 153, 44);
}
